@import "tailwindcss";
@import url("https://fonts.googleapis.com/css2?family=Oranienbaum&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap");
body {
  margin: 0;
  overflow-x: hidden !important;
  font-family: "Montserrat", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Oranienbaum", serif;
}

/* Premium Scrollbar */
::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-track {
  background: #0f0f0f; /* dark luxury */
}

::-webkit-scrollbar-thumb {
  background: linear-gradient(180deg, #d4af37, #f5e6a8);
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: linear-gradient(180deg, #f5e6a8, #d4af37);
}
