@import "tailwindcss";

@import url("https://fonts.googleapis.com/css2?family=Oranienbaum&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap");
body {
  margin: 0;
  overflow-x: hidden !important;
  font-family: "Montserrat", sans-serif;
}
@font-face {
  font-family: "GFS Didot";
  src: url("./assets/fonts/GFSDidot-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Ambroise";
  src: url("./assets/fonts/Ambroise-Light.otf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Ambroise Regular";
  src: url("./assets/fonts/Ambroise\ Regular.otf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "proximanovaexcn light";
  src: url("./assets/fonts/Fontspring-DEMO-proximanova-light.otf")
    format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Aesthet light";
  src: url("./assets/fonts/fonnts.com-Aesthet-Nova-Light.otf")
    format("truetype");
  font-weight: normal;
  font-style: normal;
}

/* h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Oranienbaum", serif;
} */

@font-face {
  font-family: "Soligant";
  src: url("./assets/fonts/Soligant-Regular.ttf") format("truetype");
}

/* Premium Scrollbar */
::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-track {
  background: #0f0f0f;
}

::-webkit-scrollbar-thumb {
  background: linear-gradient(180deg, #f2efef, #f2efef);
  border-radius: 10px;
}
