@import "tailwindcss";

body {
  margin: 0;
  overflow-x: hidden !important;
  font-family: "Montserrat", sans-serif;
}

.allura-regular {
  font-family: "Allura";
  font-weight: 400;
  font-style: normal;
}

.montserrat-regular {
  font-family: "Montserrat";
  font-weight: 400;
  font-style: normal;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Allura", serif;
}

/* Premium Scrollbar */
::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-track {
  background: #0f0f0f; /* dark luxury */
}

::-webkit-scrollbar-thumb {
  background: linear-gradient(180deg, #d4af37, #f5e6a8);
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: linear-gradient(180deg, #f5e6a8, #d4af37);
}
